<?xml version="1.1" encoding='UTF-8' ?>
<configuration scan="true" scanPeriod="30 seconds" >

    <!-- disable logback configuration logs -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <!-- get logging directory from java system property "-Dlog.dir=<folder>" default ./logs -->
    <property name="log.directory" value="${log.dir:-./logs}"/>

    <!-- log message patterns -->
    <property name="defaultPattern" value="%date %-5level %-80([%thread]  %logger{30}) - %msg%n}" />

    <!-- ### Files Section ### -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <!-- errors log file, only error and warn level -->
    <appender name="ERRORS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.directory}/scraper.error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${log.directory}/scraper.error.log-%d{yyyyMMdd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches limit -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 6 days' worth of history -->
            <maxHistory>6</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>warn</level>
        </filter>
    </appender>

    <!-- main log file with rolling (daily or over 1024MB) and compression -->
    <appender name="MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.directory}/scraper.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${log.directory}/scraper.main.log-%d{yyyyMMdd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches limit -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 6 days' worth of history -->
            <maxHistory>6</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="MAIN"/>
        <appender-ref ref="ERRORS"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>